$primary-color: #ffffff;
$secondary-color: #61C08D;
$text-color: #030303;
$font: "Montserrat", sans-serif;
$done-color: #d2d2d2;
$max-width: 600px;
$tablet-width: 992px;
$mobile-width: 480px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  color: $text-color;
  background: $primary-color;
}

/* Utilities */
.container {
  max-width: $max-width;
  margin: 0 auto;
}

.done {
  color: $done-color !important;
  opacity: 0.5;
  // text-decoration: line-through;
}

.text-red {
  color: $done-color;
}

// main styling
#main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-bottom: 2px solid $secondary-color;
  transition: all 0.5s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h1 {
    padding-left: 7rem;
  }
  &:hover {
    transform: scale(1.1);
    border-color: $text-color;
  }
}


.app {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
  margin: 0 0.5rem;
  position: relative;

  &-filter {
    margin-top: 1rem;
    display: flex !important;
    text-align: right;
    justify-content: space-between;
  }

  &-report {
    position: fixed;
    bottom: 5vh;
    margin-top: 1rem;

    &-wrapper {
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .report {
      // display: flex;
      // justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0;

      input {
        text-align: center;
        border: none;
        background: transparent;
        color: $text-color;
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }

  &-wrapper {
    max-height: 50vh;
    overflow-y: auto;
    background-color: transparent;
    border: 1px solid transparent;
    // border-radius: 5px;
    margin: 1rem 0;
    width: 100%;
    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem;
      border-bottom: 1px solid $done-color;
      transition: all 0.4s ease-in-out;
      width: 100%;

      &:hover {
        transform: translateZ(10px) translateX(5px);
        font-weight: bold;
      }
      &:last-child {
        border-bottom: none;
      }

      &[data-status="done"] .fa-times {
        display: inline-block;
      }

      &-wrapper {
        display: flex;
        max-width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
      }

      &-content {
        margin-left: 2rem;
        overflow: hidden;
        text-align: justify;
        border: 0;
        background: transparent;
        font-size: 1.25rem;
        color: $secondary-color;
      }

      .fa-times {
        color: $done-color;
        margin-right: .5rem;
        transition: all 0.25s ease-in-out;
        &:hover {
          transform: rotate(90deg) scale(1.5);
        }
        display: none;
      }
    }
  }

  form {
    display: flex;
    width: 100%;
  }

  &-input {
    padding: 0.75rem;
    border-radius: 50px;
    width: 90%;
    font-size: 1.3rem;
    color: $text-color;
  }
  &-add {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    background: $secondary-color;
    transition: all 0.4s ease;
    font-size: 1.3rem;
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 30%;
      height: 4px;
      width: 40%;
      background-color: $primary-color;
      transition: all .7s ease-in-out;
      transform: translateY(-2px);
    }

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 30%;
      height: 4px;
      width: 40%;
      background-color: $primary-color;
      transition: all .7s ease-in-out;
      transform: translateY(-2px) rotate(90deg);
    }

    &:hover::before {
      transform: translateY(-2px) rotate(180deg)
    }
    &:hover::after {
      transform: translateY(-2px) rotate(270deg)
    }
  }
}

#myVideo { 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
 
@media screen and (max-width: $tablet-width) {
  #main-header {
    h1 {
      padding: .5rem 2rem;
    }
  }
  .app {
    &-wrapper {
      max-height: 50vh;
    }

    &-report {
      bottom: 0;
      &-wrapper {
        display: block;
       
        // display: block;
        // background-color: #030303;
      }
      .report {
        align-items: center;
        margin: 0;
        border-bottom: 1px solid $done-color;
  
        input {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: $mobile-width) {
  .app {
    &-wrapper {
      max-height: 40vh;
    }
  }  
}